@use "src/var.module" as var;

.Footer {
    width: 100%;
    height: 5vh;
    background-color: var.$primary;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;

    align-items: center;

    .loginLink {
      margin-left: 6%;
      color: white;
    }
    .loginLink:hover {
        cursor: pointer;
    }
  
}