@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

.advertPage {
font-family: "Rowdies";
position: relative;
width: 100vw;
height: 100%;
display: flex;
flex-direction: row;

}

#page {
    overflow: hidden;
    height: 100vh;
    min-width: 100vw;
}

.filter {
   width: 20vw;
   height: 100vh;
   background-color: powderblue;
}

.advertContainer {
    overflow-y: scroll;
background-color: white;
width: 35vw;
height: 100%;
}

.advertContainer::-webkit-scrollbar {
display: none;
}

@media (max-width: 1100px) {
    #filterBlock {
        display: none;
    }
}