.ParentsB{
    display: flex;
    justify-content: space-between;
    padding-top: 8vh;
    height: 50vh;
}

.BoxB{
    width:48%;
    background-color: #ffffff;
    Height:98%;
    position:relative;
    padding:5%;
    overflow-y: scroll;
}

