.Visitor-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonFirstPage:nth-of-type(1){
    margin-top:26vh;
}
.buttonFirstPage{
    filter: drop-shadow(0 0 0.3rem rgb(167, 166, 166));
    font-size: 30px;
    border-radius: 7px;
    /* background-color: #E5E5E5; */
    height: 11vh;
    width: 80vw;
    margin-bottom:6vh;
}