$primary: #0D6EFD;
$primaryText: #ffffff;
$waveSmall: url('../../../assets/svgs/SMALL.png');
$waveBig: url('../../../assets/svgs/BIG.png');
$secondary: #E5E5E5;
$buttonDisabledPrimary: #0d6dfda8;
$secondaryText: black;
