html, body, #root {
 height: 100vh;
 width: 100vw;
 max-width: 100vw;
overflow-x: hidden;
}

p{
  margin:0px;
}

#svgPerson:hover{
  transition: 0.2s !important;
  transform: scale(1.2)!important;
}
#svgPower:hover{
  transition: 0.2s !important;
  transform: scale(1.2)!important;
}
