.Advert {
    height:50%;
    min-height: 200px;
    background:WHITE;
    filter: drop-shadow(0 0 0.3rem rgb(185, 185, 185));
    margin-top: 4%;
    width: 60%;
    margin: auto;
}
.Advert:hover{
    transition: 0.4s !important;
    transform: scale(1.03)!important;
}


#titleAdvert, #paragraphAdvert{
    font-size: 0.9em;
    text-align:center;
    padding: 3%;
    
}




#buttonAdvert{
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius:0rem 0rem .3rem .3rem!important;
}


@media (max-width: 1560px) {
    #titleAdvert, #paragraphAdvert{
        font-size: 0.8em;
        text-align:center;
        padding: 2%;
        
}
.Advert {
    height:45%;
    min-height: 200px;
    background:WHITE;
    filter: drop-shadow(0 0 0.3rem rgb(185, 185, 185));
    margin-top: 4%;
    width: 60%;
}
}


