.Advert {
    margin-top:10vh;
    height:30vh;
    min-height: 200px;
    background:WHITE;
    filter: drop-shadow(0 0 0.3rem rgb(185, 185, 185));
    margin: 2%;
    max-width: 200px;
    min-width: 350px;
    
  
    /* min-width: 30%; */
}
.Advert:hover{
    transition: 0.4s !important;
    transform: scale(1.03)!important;
}


#titleAdvert, #paragraphAdvert{
    text-align:center;
    padding: 3%;
    
}




#buttonAdvert{
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius:0rem 0rem .3rem .3rem!important;
}


