@use "src/var.module" as var;
.box {
    height:70vh;
    overflow: auto;
    background-color: white;
    margin-bottom:10vh;
    padding:5%;
}

.notif{
    margin-top:3vh;
    font-size:auto;
    color: white;
    text-align: center;
    padding: 4px;
}
