
.ParentsB{
    display: flex;
    justify-content: space-between;
    padding-top: 8vh;
    height: 50vh;

}

@media screen and (max-width: 560px ) {
    .ParentsB{
        display: none!important;
    }
}
