@use "src/var.module" as var;

.StepWrapper {
    height: 80vh;
    width: 100%;
    overflow: hidden;

    // select {
    //     height: 8vh;
    //     text-align: center;
    //    color: var.$primaryText;
    //     border: none;
    //     padding: 3%;
    //     font-size: 2em;
    //     // -webkit-appearance: none;
    //     width: 50vw;
    //     option {
    //         // width: 50vw;
    //         background-color: white;
    //         color: var.$secondaryText;
    //        height: 10px;
    //        p {
    //         height: 10px;
    //        }
    //     }
     
    // }   
     

    .confirmFinal {
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        height: 6vh;
        background-color: var.$primary;
        color: var.$primaryText;
        font-size: 3vw;
        border: none;
        width: 40%;
    }
}

.inputs {
    margin-top: 4vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
        border: none;
        background-color: var.$secondary;
        margin: 1vw;
        width: 66%;
        height: 7vh;
        text-align: center;
    }
}

.buttonWrapper {
    padding-top: 4%;
    display: flex;
    justify-content: center;

    .confirmButton {
        margin: auto;
        height: 11vh;
        background-color: var.$primary;
        color: var.$primaryText;
        font-size: 6vw;
        border: none;
        width: 80%;
     
    }

    .confirmButton:disabled {
        background-color: var.$buttonDisabledPrimary;
    }
}

.errorContainer {
    border: 1px solid #F8A300;
    color: red;
    text-align: center;
    background-color: #ecc891;
    height: auto;
    width: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    p {
        font-size: 3vw;
        
    }
}






@media (min-width: 600px) {

  
    .StepWrapper {
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        padding-left: 2%;
        padding-right: 2%;
        justify-content: center;
    }
    .inputsWrapper {
       width: 50vw;
       height: 40%;
       display: flex;
       justify-content: center;
       flex-direction: column;
       
    }
    .inputs {
        margin-top: 5vh;
        
        margin: none;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        input {
            border: none;
            background-color: var.$secondary;
            margin: 1vw;
            width: 90%;
            height: 7vh;
            text-align: center;
        }
    }
    
    .buttonWrapper {
        padding-top: 4%;
        display: flex;
        justify-content: center;
    
        .confirmButton {
            margin: auto;
            height: 8vh;
            background-color: var.$primary;
            color: var.$primaryText;
            font-size: 3vw;
            border: none;
            width: 70%;
        }
    }
    .errorContainer {
        margin: 0;
        border: 1px solid #F8A300;
        color: red;
        text-align: center;
        background-color: #ecc891;
        height: fit-content;
        width: 50%;
       
        p {
            font-size: 1.6vw;
            
        }
    }
}



@media (min-width: 1500px) {

  
    .StepWrapper {
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        padding-left: 2%;
        padding-right: 2%;
        justify-content: center;
    }
    .inputsWrapper {
       width: 50vw;
       height: 40%;
       display: flex;
       justify-content: center;
       flex-direction: column;
       
    }
    .inputs {
        margin-top: 5vh;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
        width: 100%;
        input {
            border: none;
            background-color: var.$secondary;
            margin: 1vw;
            width: 45%;
            height: 7vh;
            text-align: center;
        }
    }
    
    .buttonWrapper {
        padding-top: 4%;
        display: flex;
        justify-content: center;
    
        .confirmButton {
            margin: auto;
            height: 7vh;
            background-color: var.$primary;
            color: var.$primaryText;
            font-size: 3vw;
            border: none;
            width: 70%;
        }
    }
    .errorContainer {
        margin: 0;
        border: 1px solid #F8A300;
        color: red;
        text-align: center;
        background-color: #ecc891;
        height: fit-content;
        width: 50%;
       
        p {
            font-size: 2.5vw;
            
        }
    }
}
